.card {
    max-width: 250px;
    background-color: white;
    border: 8px solid #AAD;
    border-radius: 2px;
    box-shadow: 0 0 2px #CCC;
}

.card-img {
    border-bottom: 1px solid #DDD;
    width: 100%;
}

.gratis {
    color: green;
    font-size: 18px;
    font-style: italic;
}
